# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files
.env*
!.env.local.example

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/
.idea/
*.swp
